Write a program to demonstrate different number data types in python.

In [1]:
x = 20     #int
print(x)
print(type(x))
x = 20.5 #float
print(x)
print(type(x))
x = 1j        #complex
print(x)
print(type(x))

20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>

In [4]:
#String
x = "rcpit.ac.in"   
print(x)
print(type(x))

rcpit.ac.in
<class 'str'>

In [5]:
x = ["Shirpur", "RCPIT", "Electrical"]       #list
print(x)
print(type(x))

['Shirpur', 'RCPIT', 'Electrical']
<class 'list'>

In [6]:
x = ("Python", "from", "rcpit.ac.in")       #tuple
print(x)
print(type(x))

('Python', 'from', 'rcpit.ac.in')
<class 'tuple'>

In [7]:
x = {"name" : "anu", "age" : 36}  #dict
print(x)
print(type(x))

{'name': 'anu', 'age': 36}
<class 'dict'>

In [8]:
x = {"name" : "anu", "age" : 36}  #dict
print(x)
print(type(x))

{'name': 'anu', 'age': 36}
<class 'dict'>

In [9]:
 {"dl", "python", "ml"}   #set
print(x)
print(type(x))
x = frozenset({"opencv", "pandas", "numpy"}) #frozenset
print(x)
print(type(x))

{'name': 'anu', 'age': 36}
<class 'dict'>
frozenset({'opencv', 'pandas', 'numpy'})
<class 'frozenset'>